/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* ----------------------------
   1. GLOBAL STYLES
---------------------------- */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-VariableFont_wdth,wght.ttf');
}

.root {
    -fx-background-image: url("images/Wavy_backround.png");
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-size: 13px;
}

/* ----------------------------
   2. MIDDLE SECTION
---------------------------- */

.middle-section {
    -fx-background-color: rgba(44, 62, 80, 0.85);
    -fx-background-radius: 0 8px 8px 0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 8, 0, 0, 2);
    -fx-padding: 15px;
    -fx-border-color: #3b3b3b;
    -fx-border-width: 2px;
    -fx-border-radius: 7px;
}

/* TABLEVIEW */
.table-view {
    -fx-background-color: rgba(44, 62, 80, 0.5);
    -fx-border-color: rgba(61, 61, 61, 0.9);
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 8, 0, 0, 2);
}

/* Table Header Styling */
.table-view .column-header-background {
    -fx-background-color: rgb(197, 148, 117);
    -fx-background-radius: 10px 10px 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

/* Alternating Row Colors */
.table-row-cell:odd {
    -fx-background-color: rgba(44, 62, 80, 0.5);
}

.table-row-cell:even {
    -fx-background-color: rgba(89, 122, 152, 0.5);
}

/* Row Hover Effect */
.table-row-cell:hover {
    -fx-background-color: rgba(147, 190, 231, 0.5);
    -fx-text-fill: #e9f1ff;
}

/* Selected Row */
.table-row-cell:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: e9f1ff;
    -fx-font-weight: bold;
}

/* Table Cell */
.table-cell {
    -fx-padding: 10px;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: #e9f1ff;
    -fx-font-weight: bold;
}

/* Scrollbars */
.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #bdc3c7;
    -fx-background-radius: 4px;
}

/* Buttons */
.button {
    -fx-background-color: #f0f2f5;
    -fx-background-radius: 6px;
    -fx-padding: 8px 15px;
    -fx-font-weight: 500;
    -fx-text-fill: #2c3e50;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e1e5ea;
    -fx-border-width: 2px;
    -fx-border-color: #0091ff;
    -fx-padding: 6px 13px;
    -fx-background-insets: 2px;
    -fx-background-radius: 0;
}

.button:pressed {
    -fx-background-color: #d1d7e0;
}

/* Action buttons */
.action-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-padding: 8px 15px;
    -fx-background-radius: 6px;
    -fx-border-color: #0091ff;
    -fx-cursor: hand;
}

.action-button:hover {
    -fx-background-color: #2980b9;
    -fx-border-width: 2px;
    -fx-border-color: #0091ff;
    -fx-padding: 6px 13px;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
}

.action-button:pressed {
    -fx-background-color: #2473a6;
    -fx-border-width: 0 0 1px 0;
    -fx-translate-y: 2px;
}

/* Alternating Row Colors */
.table-row-cell:odd {
    -fx-background-color: rgba(44, 62, 80, 0.5);

}

.table-row-cell:even {
    -fx-background-color: rgba(89, 122, 152, 0.5);

}

/* Row Hover Effect */
.table-row-cell:hover {
    -fx-background-color: rgba(147, 190, 231, 0.5);
    -fx-text-fill: #ffffff;
}

/* Selected Row */
.table-row-cell:selected {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
}

/* Table Cell Styling */
.table-cell {
    -fx-padding: 10px;
    -fx-alignment: CENTER_LEFT;
    -fx-text-fill: WHITE;
}

/* Scrollbars */
.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #bdc3c7;
    -fx-background-radius: 4px;
}

/* ----------------------------
   3. LEFT  SECTION
---------------------------- */

/* Search field */
.search-field {
    -fx-background-color: white;
    -fx-background-radius: 6px;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 6px;
    -fx-padding: 8px 10px;
}

.text-field:focused {
    -fx-border-color: #3498db;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(52,152,219,0.1), 5, 0, 0, 0);
}

/* Sidebar */
.sidebar {
    -fx-text-fill: white;
    -fx-background-color: rgba(44, 62, 80, 0.85);
    -fx-padding: 20px;
    -fx-border-color: #3b3b3b;
    -fx-border-width: 2px;
    -fx-border-radius: 7px;
    -fx-background-radius: 10px 0 0 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 2, 2);
}

.sidebar .label {
    -fx-font-family: 'Fugaz One', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.sidebar-button {
    -fx-font-family: 'Fugaz One', sans-serif;
    -fx-font-size: 16px;
    -fx-background-color: #595959;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-background-radius: 8px;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 0, 2);
}

.sidebar-button:hover {
    -fx-background-color: #363636;
    -fx-border-width: 2px;
    -fx-border-color: #0091ff;
    -fx-padding: 8px 11px;
    -fx-background-insets: 2px;
    -fx-background-radius: 0;
}

.sidebar-button:pressed, .sidebar-button.active {
    -fx-background-color: #ebf5fb;
    -fx-font-weight: bold;
    -fx-border-width: 0 0 0 3px;
    -fx-border-color: #3498db;
    -fx-padding: 10px 15px 10px 12px;
}

.sidebar-button .label {
    -fx-padding: 0 0 0 8px;
    -fx-font-size: 14px;
}

.username-label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 0 0 10 5;
    -fx-text-fill: #2c3e50;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #3498db;
}

/* Icons */
.icon {
    -fx-min-width: 18px;
    -fx-min-height: 18px;
    -fx-max-width: 18px;
    -fx-max-height: 18px;
    -fx-background-color: #2c3e50;
}

.sidebar-button:hover .icon {
    -fx-background-color: #3498db;
}

.sidebar-button.active .icon {
    -fx-background-color: #3498db;
}

/* Logout button */
.logout-button {
    -fx-background-color: #c2c6db;
    -fx-text-fill: black;
    -fx-padding: 10px 20px;
    -fx-background-radius: 6px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: #c0392b; /* Dark red on hover */
    -fx-border-width: 2px;
    -fx-border-color: #0091ff;
    -fx-padding: 8px 18px;
    -fx-background-insets: 0px;
    -fx-background-radius: 0;
}

.logout-button:pressed {
    -fx-background-color: #a93226; /* Darker red when pressed */
}


/* ----------------------------
   4. RIGHT SECTION
---------------------------- */
.right-panel {
    -fx-background-color: rgba(44, 62, 80, 0.85);
    -fx-background-radius: 10px;
    -fx-padding: 15px;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 0, 2);
    -fx-border-color: #3b3b3b;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

/* General TitledPane layout */
.titled-pane {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: 'Roboto', sans-serif;
}

.titled-pane > .title {
    -fx-background-color: rgba(44, 62, 80, 0.5);
    -fx-padding: 10px 15px;
    -fx-background-radius: 8px 8px 0 0;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.titled-pane > .content {
    -fx-background-color: rgb(44, 62, 80);
    -fx-padding: 12px;
    -fx-background-radius: 0 0 8px 8px;
    -fx-text-fill: white;
    -fx-border-color: #3b3b3b;
    -fx-border-width: 1px;
    -fx-border-radius: 0 0 7px 7px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 6, 0, 0, 1);
}

/* Pointers-specific */
.pointers-pane > .title {
    -fx-background-color: rgb(197, 148, 117);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.pointers-pane > .content {
    -fx-background-color: rgb(153, 99, 79);

}

/* Statistics-specific */
.statistics-pane > .title {
    -fx-background-color: rgb(197, 148, 117);
    -fx-text-fill: white;
}

.statistics-pane > .content {
    -fx-background-color: rgb(153, 99, 79);
}

/* Statistics general text */
.statistics-text {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-family: 'Roboto', sans-serif;
}

/* Statistics value styling - make it stand out */
.statistics-value {
    -fx-text-fill: rgb(102, 255, 255);
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-font-family: 'Roboto', sans-serif;
}

/* Container for each statistics row */
.statistics-row {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

/* Statistics title - keep the existing style but make it white */
.statistics-title {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-padding: 0 0 5px 0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: rgba(255, 255, 255, 0.3);
}

/* Text styles inside content */
.pointers-text {
    -fx-text-fill: black;
    -fx-font-size: 13px;
    -fx-font-family: 'Roboto', sans-serif;
}
